* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

body {
  font-family: Raleway;
  font-weight: 900;
  background: white;
  color: #343a40;
  font-size: 50px;
  padding: 50px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#contacts ul {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

#shitcoder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#shitcoder img {
  width: 10em;
}

h1 {
  line-height: 60px;
}

h1, li{
  transition: filter 200ms ease;
}

.bx {
  color: #868e96;
  transition: 200ms ease;
  transition-property: color, transform;
}

.bx:hover {
  transform: scale(1.5);
  transition: 200ms ease;
  transition-property: color, transform;
  color: #343a40;
}
