@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    font-family: 'Ubuntu', sans-serif;
    width: 50%;
    height: 100%;
    margin-left: 25%;
}

nav ul {
    margin-top: 50px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul .page a {
    color: #202020;
}

nav a {
    color: #89898c;
    text-decoration: none;
    font-size: 35px;
    font-weight: 300;
    transition: color 0.3s;
}

nav a:hover {
    color: #202020;
}

h1 {
    display: inline;
    font-weight: 700;
    color: #202020;
    font-size: 110px;
}

.title {
    display: flex;
    justify-content: space-between;
}

main div.title {
    margin-top: 40px;
}

.about {
    font-size: 24px;
    margin-top: 10px;
    line-height: 30px;
    color: #3D3D3D;
}

img {
    margin-right: 0;
    border-radius: 100%;
}

.donate {
    margin-left: 24%;
    background: white;
    /*padding: 15px;*/
    border-radius: 20px;
    font-size: 20px;
    /*line-height: 25px;*/
    color: black;
    text-align: center;
    width: 50%;
    padding: 2%;
}

details {
    cursor: default;
}

.contacts {
    font-size: 30px;
}

.projects {
    font-size: 25px;
    line-height: 30px;
    color: #3D3D3D;
}

.projects p {
    margin-top: 20px;
}

a {
    color: #006dd3;
    text-decoration: none;
}

.about {
    margin-bottom: 20px;
}

#email {
    color: #f03e3e;
}

#telegram {
    color: #fcc419;
}

#vk {
    color: #51cf66;
}

#inst {
    color: #339af0;
}

#github {
    color: #cc5de8;
}

