* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  font-style: normal;
  font-family: Raleway;
  font-weight: 900;
  background: linear-gradient(45deg, #ff5f6d, #ffc371);
  color: white;
  font-size: 50px;
  padding: 50px;
}

box-icon {
  fill: rgba(255, 255, 255, 50%);
}

box-icon:hover main {
  filter: blur(5px);
}

ul {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

h1,
li,
#quote {
  transition: filter 200ms ease;
}

main {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  min-height: 100%;
  z-index: 50;
}

img {
  height: 300px;
}

#quotee {
  display: flex;
  height: 100%;
  min-height: 100%;
  /* width: 100%;
  min-width: 100%; */
  position: absolute;
  right: 200px;
  top: 0;
  z-index: 100;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  line-height: 65px;
}
