body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  /* align-items: center; */
}

main {
  display: unset;
  min-height: unset;
  height: unset;
}

#contacts {
  margin-bottom: 70px;
}

ul {
  justify-content: center;
}

img {
  height: 300px;
}

#zzz-container {
  display: unset;
  height: unset;
  min-height: unset;
  /* width: 100%;
    min-width: 100%; */
  position: unset;
  right: unset;
  top: unset;
  z-index: unset;
  flex-direction: unset;
  justify-content: unset;
}
