body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

main {
  display: unset;
  min-height: unset;
  height: unset;
  font-size: 1.7em;
}

h1 {
  line-height: 105px;
}

.bx {
  font-size: 1.3em;
}

#contacts {
  margin-bottom: 70px;
}

ul {
  justify-content: center;
}

img {
  height: 300px;
}

#blog-container {
  /* display: unset; */
  height: 40%;
  min-height: unset;
  width: 100%;
  min-width: 100%;
  position: unset;
  /* flex-direction: unset;
  justify-content: unset; */
  background-position: center;
  /* background-size: cover; */
  /* background-clip: padding-box; */
}

#blog {
  line-height: 0;
  font-size: 7em;
}
