<section class="hero-section">
  <div class="max-w-6xl mx-auto px-6 py-24 md:py-32 relative">
    <iconify-icon icon="tabler:box-model" class="text-[400px] text-accent absolute pointer-events-none select-none" style="top: 50%; right: calc(1.5rem - 50px); transform: translateY(-50%); opacity: clamp(0.03, 0.03 + 0.17 * (100vw - 430px) / 594px, 0.2); filter: blur(clamp(0px, 3px * (1024px - 100vw) / 594px, 3px));"></iconify-icon>
    <div class="relative z-10 max-w-3xl">
      <p class="meta-label text-secondary mb-4">TOOLING ENGINEER</p>
      <h1 class="font-headline text-3xl md:text-4xl lg:text-5xl font-black leading-tight mb-6">
          Systems over symptoms
      </h1>
      <p class="text-xl lg:text-2xl text-secondary mb-6">
          Building tools I wish existed
      </p>
      <p class="meta-label text-secondary">
        Based in Tbilisi
      </p>
    </div>
  </div>
</section>
